$themes: (
    light: (
        textColor: #000,
        background: white,
        logo: darkblue,
        backgroundsoft: #555,
        textColorsoft: #555,
        border: lightgrey,
    ),
    dark: (
        textColor: whitesmoke,
        background: #222,
        logo: white,
        backgroundsoft: #333,
        textColorsoft: lightgrey,
        border: #444,
    ),
); 